<%- include("./partials/header") %>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh"><h1>Welcome to Super Team Picker</h1></div>
<%- include("./partials/footer") %>

